@{
    ViewBag.Title = "Add Trade History";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

@section scripts {
    @Scripts.Render("~/bundles/ng")

    <script type="text/javascript">
        var app = angular.module('fapp', ['api']);
	</script>

    <script src="~/js/controllers/controller.stocks.js"></script>
}

<div>
    <button type="button" id="addTradeDay" name="addTradeDay" class="btn btn-success">Add Trade Day</button>
    <button type="button" id="saveTradeDay" name="saveTradeDay" class="btn btn-success">Save</button>
</div>
<div>
    @Html.Action("_AddTrade", "Stock")
</div>

