@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h3>@Html.ActionLink("Stock", "Index", "Stock")</h3>
        Add and view stock trading history
    </li>
    <li class="two">
        <h3>Partner Relationship Management</h3>
        Power team building and management
    </li>
    <li class="three">
        <h3>Debt Management</h3>
        Debt manamgenet including mortgage, insurance, credit card and facilities
    </li>
</ol>
